<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a13608.tab01">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".avtivity.splashActivity"
            android:theme="@style/NoActivityFullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".avtivity.RoomActivity"
            android:theme="@style/RoomTheme" />
        <activity android:name=".avtivity.loginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".avtivity.guideActivity" />
        <activity android:name=".avtivity.registerActivity" />
        <activity android:name=".avtivity.ScanActivity" />
        <activity android:name=".avtivity.webActivity"
            android:label="网上冲浪"></activity>
    </application>

</manifest>